* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container {
  margin: 40px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
}
.title {
  margin: 10px 20px;
}
.btn {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  border-radius: 15px;
  transition: all 0.6s ease 0s;
}
.btn:hover {
  opacity: 1;
}
.discord {
  background: linear-gradient(35deg, #7289DA, #0037ff);
}
.tool {
  background: linear-gradient(35deg, #0bf, #0fb);
}
.contact {
  background: linear-gradient(35deg, #0ba, #0a8);
}
.sinrai-txt {
  margin-top: 15px;
}
.copyright {
  margin-top: 30px;
}